/*----------TIPOGRAFIA----------*/
@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200;0,400;1,400;1,1000&display=swap');

/*RESET*/
* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
    font-family: 'Mulish', sans-serif;
}


/*----------TITULOS----------*/
h2 {
    font-family: 'Mulish', sans-serif;
    font-size: 20px;
    font-weight: 200;
    text-align: left;
}


/*TODAS LAS LISTAS Y SUS ELEMENTOS*/
ul {
    list-style-type: none;
    list-style: none;
}

/**----------SECTION: ACCESO RAPIDO CONTACTOS----------*/
.accesoContactos ul {
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    background-color: #c5c5c57d;
    border-color: #c5c5c57d;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.accesoContactos ul li button i {
    color: #FF6542;
}

.accesoContactos ul li a {
    text-decoration: none;
    color: black;
    font-size: 12px;
    font-weight: 200;
    padding: 5px;
}


.accesoContactos ul li button {
    width: max-content;
    padding: 5px 10px 5px 10px;
    color: black;
    font-size: 14px;
    background-color: transparent;
    border: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

@media screen and (max-width:950px) {
    .accesoContactos ul li a {
        font-size: 10px;
    }
}

@media screen and (max-width:450px) {
    .accesoContactos ul li a {
        font-size: 8px;
    }
}

/*!PSEUDO CLASES*/
.accesoContactos ul li :hover {
    color: #ff6542;
}

/**------------------MAIN------------------*/
main {
    font-size: 100%;
}

/**----------SECTION:HEADER----------*/
header nav {
    height: 100%;
    width: 100%;
    padding: 5px;
    margin: 0px;
    background-color: #fbfbfb;
    color: white;
    /*GRID*/
    display: grid;
    grid-template-columns: 0.5fr 1fr;
    grid-template-rows: 1fr;
}

.headerLogo {
    grid-column: 1/2;
}

.headerBarra {
    grid-column: 2/3;
}

.headerLogo {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

/*Elimino el margin y padding que hereda desde Bootstrap*/
.headerBarra ul {
    padding: 0px;
    margin: 0px;
}

/*Diseño de barra de navegacion*/
header nav ul {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
}

header nav ul li a {
    width: 100%;
    height: 100%;
    color: black;
    font-size: 16px;
    font-weight: 600;
    padding: 5px;
    text-decoration: none;
}


/*"inicio" con diferente color*/
.resaltador {
    color: #FF6542;
    font-size: 17px;
    font-weight: 600;
}

/* Boton "cotizar ahora"*/
header nav ul button {
    width: max-content;
    padding: 10px 15px 10px 15px;
    font-size: 16px;
    font-weight: 900;
    background-color: #ff6542d0;
    color: white;
    border: none;
    margin-left: 5px;
    box-shadow: 10px 6px 8px -4px rgba(0, 0, 0, 0.55);
    -webkit-box-shadow: 10px 6px 8px -4px rgba(0, 0, 0, 0.55);
    -moz-box-shadow: 10px 6px 8px -4px rgba(0, 0, 0, 0.55);
}

/*LOGO*/
header nav img {
    height: 100%;
    width: 110px;
}

/*!MEDIA QUERIES*/
@media screen and (max-width:950px) {
    .header {
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 0.5fr;
    }

    .headerBarra {
        grid-column: span 3;
        grid-row: 2;
    }

    .headerLogo {
        grid-column: 2;
        grid-row: 1;
    }

    header nav ul li a {
        font-size: 10px;
        font-weight: 600;
    }

    .inicio {
        color: #FF6542;
        font-size: 11px;
        font-weight: 600;
    }
}

@media screen and (max-width:450px) {
    .header {
        grid-template-columns: 1fr 1fr 1fr;
        grid-auto-rows: 1fr;
    }

    .headerBarra {
        grid-column: span 3;
        grid-row: 2;
        padding: 10px;
    }

    .headerLogo {
        grid-column: 2;
        grid-row: 1;
    }

    header nav ul li a {
        font-size: 9px;
        font-weight: 600;
    }

    .inicio {
        color: #FF6542;
        font-size: 10px;
        font-weight: 600;
    }

    .resaltador {
        font-size: 10px;
    }

    header nav ul button {
        width: max-content;
        padding: 5px;
        font-size: 10px;
        font-weight: 400;
        margin-left: 0px;
    }
}

/*!PSEUDO CLASES*/
.headerBarra ul button:active {
    color: black;
}

.headerBarra ul button:hover {
    background-color: #fa9a84;
}

.headerBarra ul li a:hover {
    color: #ff6542;
}

/**------------------HERO------------------------*/
.hero {
    width: 100%;
    height: 600px;
    background-color: white;
    background-position: center;
    background-image: url("../img/workteam.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center;
}

.hero div {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.475);
}


.hero div h1 {
    font-family: 'Mulish', sans-serif;
    font-size: 55px;
    font-weight: 900;
    color: #ff6542e1;

}

.hero div h2 {
    font-size: 40px;
    font-weight: 400;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    padding: 0px 0px 15px 0px;
}

/*Boton:trabajemos juntos*/
.heroTexto button {
    width: max-content;
    font-weight: 400;
    padding: 10px 15px;
    font-size: 14px;
    background-color: #FF6542;
    color: white;
    border: none;
    box-shadow: 10px 6px 8px -4px rgba(0, 0, 0, 0.55);
    -webkit-box-shadow: 10px 6px 8px -4px rgba(0, 0, 0, 0.55);
    -moz-box-shadow: 10px 6px 8px -4px rgba(0, 0, 0, 0.55);
}

/*!MEDIA QUERIES*/
@media screen and (max-width:950px) {
    .hero div h1 {
        font-size: 40px;
    }

    .hero div h2 {
        font-size: 30px;
    }
}

@media screen and (max-width:450px) {
    .hero {
        width: 100%;
        height: 400px;
    }

    .hero div h1 {
        font-size: 30px;
    }

    .hero div h2 {
        font-size: 25px;
    }

    .heroTexto button {
        font-weight: 600;
        padding: 5px 10px;
        font-size: 10px;
    }
}


/*!PSEUDO CLASES*/
.heroTexto button:hover {
    background-color: #ffc759;
    color: #ff6542;
    font-weight: 600;
}

/**------------------SECTION:PRESENTACIÓN------------------------*/
.presentacion {
    width: 100%;
    height: 100%;
    padding-top: 50px;
    background-color: #fbfbfb;
    background-position: center;
    flex-wrap: wrap;
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(2, 400px);
}

.p1 {
    grid-column: 2/4;
    grid-row: 2/4;
}

.p2 {
    grid-column: 3/5;
    grid-row: 1/2;
}

.presentacionTitulo {
    grid-column: 5/8;
    grid-row: 1/6;
    margin-left: 20px;
}

/*DISEÑO DE PARRAFOS*/
.p1 {
    width: 300px;
    height: 300px;
    font-size: 20px;
    font-weight: 400;
    text-align: left;
    padding: 30px;
    margin: 10px;
    background-color: #ff6542e5;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.p2 {
    width: 300px;
    height: 300px;
    font-size: 20px;
    font-weight: 400;
    text-align: left;
    padding: 30px;
    margin-top: 50px;
    background-color: white;
    color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.presentacionTitulo {
    padding-left: 15px;
}

.presentacion h2 {
    font-size: 45px;
    font-weight: bolder;
    margin-bottom: 15px;
}

.p3 {
    font-size: 25px;
    font-weight: 200;
    text-align: left;
    padding: 5px;
    margin-top: 10px;
}

.p4 {
    font-size: 25px;
    font-weight: 200;
    text-align: left;
    padding: 5px;
    margin-top: 10px;
}

.presentacion div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 10px;
}


.presentacion button {
    width: max-content;
    padding: 10px;
    margin-top: 10px;
    font-size: 14px;
    font-weight: 600;
    background-color: #ff6542ca;
    color: white;
    border: none;
}

/*MEDIA QUERIES*/
@media screen and (max-width:950px) {
    .presentacion {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 0.20fr 0.20fr 1fr;
        padding: 20px;
    }

    .p1 {
        grid-column: 1;
        grid-row: 2;
        width: 80%;
        height: 100%;
        font-size: 18px;
    }

    .p2 {
        grid-column: 2;
        grid-row: 1;
        width: 80%;
        height: 100%;
        font-size: 18px;
    }

    .presentacionTitulo {
        grid-column: span 2;
        grid-row: 3;
        margin-top: 25px;
        margin-left: 0px;
    }

    .presentacionTitulo h2 {
        font-size: 35px;
    }

    .p3 {
        font-size: 22px;
        font-weight: 200;
        text-align: left;
        padding: 5px;
        margin-top: 10px;
    }

    .p4 {
        font-size: 22px;
        font-weight: 200;
        text-align: left;
        padding: 5px;
        margin-top: 10px;
    }
}

@media screen and (max-width:450px) {
    .presentacion {
        grid-template-columns: 1fr;
        grid-template-rows: 0.20fr 0.20fr 1fr;
    }

    .p1 {
        grid-column: 1;
        grid-row: 2;
        width: 80%;
        height: 80%;
        margin: 15px;
        font-size: 15px;
    }

    .p2 {
        grid-column: 1;
        grid-row: 1;
        width: 80%;
        height: 80%;
        margin: 15px;
        font-size: 15px;
    }

    .presentacionTitulo {
        grid-column: 1;
        grid-row: 3;
        margin-top: 25px;
        margin-left: 0px;
    }

    .presentacionTitulo h2 {
        font-size: 30px;
    }

    .p3 {
        font-size: 20px;
        font-weight: 200;
        text-align: left;
        padding: 5px;
        margin-top: 10px;
    }

    .p4 {
        font-size: 20px;
        font-weight: 200;
        text-align: left;
        padding: 5px;
        margin-top: 10px;
    }
}

/*PRNINT*/
@media print {
    .presentacion {
        display: flex;
        flex-direction: row;
        justify-content: left;
        align-items: center;
    }
}

/*!PSEUDO CLASES*/
.presentacionTitulo button:hover {
    background-color: #ffc759;
    color: #ff6542;
    font-weight: 600;
}

/**------------------SECTION:SERVICIOS------------------------*/
/*GRID*/
.servicios {
    width: 100%;
    height: 120%;
    background-color: #fbfbfb;
    color: black;
    padding: 5px;
    padding-bottom: 50px;
    display: grid;
    grid-template-columns: repeat(11, 1fr);
    grid-template-rows: 1/2fr 1fr 1fr;
    gap: 20px;
}

.tituloServicios {
    grid-column: 2/11;
    grid-row: 1;
}

/*primera fila de servicios*/
.servicio1 {
    grid-column: 2/5;
    grid-row: 2;
}

.servicio2 {
    grid-column: 5/8;
    grid-row: 2;
}

.servicio3 {
    grid-column: 8/11;
    grid-row: 2;
}

/*segunda fila de servicios*/
.servicio4 {
    grid-column: 2/5;
    grid-row: 3;
}

.servicio5 {
    grid-column: 5/8;
    grid-row: 3;
}

.servicio6 {
    grid-column: 8/11;
    grid-row: 3;
}


/*--Diseño de los cuadros--*/
.servicios div {
    padding: 25px;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    box-shadow: 10px 10px 38px -4px rgba(0, 0, 0, 0.32);
    -webkit-box-shadow: 10px 10px 38px -4px rgba(0, 0, 0, 0.32);
    -moz-box-shadow: 10px 10px 38px -4px rgba(0, 0, 0, 0.32);
}

.servicios h2 {
    font-size: 40px;
    font-weight: 900;
    padding: 20px;
    background-color: #fbfbfb;
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.servicios div h3 {
    font-size: 25px;
    font-weight: 900;
}

.servicios div h4 {
    font-size: 20px;
    font-weight: 200;
    margin-top: 5px;
    margin-bottom: 10px;
}


/*Imagenes de numeración*/
.servicios div img {
    width: 90px;
    height: 90px;
}

/*Boton ver mas*/
.servicios div button {
    width: max-content;
    padding: 10px;
    font-size: 14px;
    font-weight: 400;
    background-color: #ff6542de;
    color: white;
    border: none;
}

/*!MEDIA QUERIES*/
@media screen and (max-width:950px) {
    .servicios {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 0.5fr auto;
        gap: 10px;
        padding: 20px;
    }

    .tituloServicios {
        grid-column: 1/3;
        grid-row: 1;
    }

    .servicio1 {
        grid-column: 1;
        grid-row: 2;
    }

    .servicio2 {
        grid-column: 2;
        grid-row: 2;
    }

    .servicio3 {
        grid-column: 1;
        grid-row: 3;
    }

    .servicio4 {
        grid-column: 2;
        grid-row: 3;
    }

    .servicio5 {
        grid-column: 1;
        grid-row: 4;
    }

    .servicio6 {
        grid-column: 2;
        grid-row: 4;
    }

    .servicios div {
        padding: 10px;
    }

    .servicios div h2 {
        font-size: 45px;
        padding: 0px;
    }

    .servicios div h3 {
        font-size: 20px;
        padding: 0px;
    }
}

@media screen and (max-width:500px) {
    .servicios {
        grid-template-columns: 0.5fr;
        grid-auto-rows: 1fr;
        gap: 10px;
        padding: 30px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .tituloServicios {
        grid-column: 1;
        grid-row: 1;
    }

    /*primera fila de servicios*/
    .servicio1 {
        grid-column: 1;
        grid-row: 2;
    }

    .servicio2 {
        grid-column: 1;
        grid-row: 3;
    }

    .servicio3 {
        grid-column: 1;
        grid-row: 4;
    }

    /*segunda fila de servicios*/
    .servicio4 {
        grid-column: 1;
        grid-row: 5;
    }

    .servicio5 {
        grid-column: 1;
        grid-row: 6;
    }

    .servicio6 {
        grid-column: 1;
        grid-row: 7;
    }

    .servicios h2 {
        font-size: 40px;
        padding: 5px;
    }

    .servicios h3 {
        font-size: 20px;
    }
}

@media print {
    h2 {
        color: #FF6542;
    }
}

/*!PSEUDO CLASES*/
.servicios div button:hover {
    background-color: #607196;
    color: black;
    font-weight: 600;
}

.servicios div:hover {
    background-color: #ffc859aa;
}

/**------------------SECTION:EXPERIENCIAS------------------------*/
/*!BOOTSTRAP*/
.experiencias {
    width: 100%;
    height: 100%;
}

.experiencias h2 {
    font-size: 35px;
    font-weight: 900;
    background-color: #fbfbfb;
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.carousel-inner {
    width: 100%;
    height: 100%;
}

.carousel-inner div img {
    height: 100%;
    width: 100%;
}

@media screen and (max-width:800px) {
    .experiencias h2 {

        font-size: 30px;
    }
}

@media screen and (max-width:450px) {
    .experiencias h2 {

        font-size: 20px;
    }
}


/**------------------SECTION:FORMULARIO------------------------*/

.formulario {
    width: 100%;
    height: 100%;
    padding: 10px;
}

.cuerpoformulario form ul {
    padding: 0px;
    margin: 0px;
}

.formulario h2 {
    width: 100%;
    height: 100%;
    font-size: 40px;
    font-weight: 400;
    text-align: center;
    padding-top: 10px;
}

.formulario h3 {
    width: 100%;
    font-size: 25px;
    color: #FF6542;
    text-align: center;
}

.cuerpoformulario {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.cuerpoformulario form {
    width: 30%;
    height: 30%;
    padding: 10px;
}

.cuerpoformulario form ul li div input {
    font-size: 12px;
}

.cuerpoformulario div {
    width: 100%
}

.cuerpoformulario button {
    background-color: #ff6542;
    border: none;
}

.cuerpoformulario button:hover {
    background-color: #fa9a84;
}

.cuerpoformulario button input {
    width: max-content;
    height: max-content;
    background-color: #ff6542;
    border: none;
    color: white;
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 1px;
}

.cuerpoformulario button input:hover {
    background-color: #fa9a84;
    color: black;
}

/*Imagen: Workteam3*/
.formulario img {
    width: 50%;
    height: 40%;
}

@media screen and (max-width:950px) {
    .cuerpoformulario {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .cuerpoformulario img {
        display: none;
    }

    .cuerpoformulario form {
        width: 50%;
        height: 50%;
        padding: 10px;
    }

    .formulario h2 {
        font-size: 30px;
    }

    .formulario h3 {
        font-size: 20px;
    }

    .cuerpoformulario form ul li div input {
        font-size: 10px;
    }
}

@media screen and (max-width:450px) {
    .cuerpoformulario form {
        width: 70%;
        height: 50%;
        padding: 5px;
    }

    .formulario h2 {
        font-size: 20px;
    }

    .formulario h3 {
        font-size: 15px;
        margin: 0px;
    }
}



/**------------------BOTON WSP------------------------*/
/*! Boton de WSP fijo*/
.botonWsp {
    display: none;
}

.botonWsp button img {
    width: 50px;
    height: 50px;
    position: fixed;
    bottom: 50px;
    right: 50px;
}

@media screen and (max-width:600px) {
    .botonWsp {
        position: fixed;
        bottom: 0px;
        right: 0px;
    }
}

@media screen and (max-width:450px) {
    .botonWsp {
        visibility: hidden;
    }
}

@media print {
    .botonWsp {
        display: none;
    }
}

/**------------------SECTION:FOOTER------------------------*/
footer {
    background-color: #607196b7;
    width: 100%;
    height: 100%;
    padding: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: start;
    text-align: justify;
    flex-wrap: wrap;
}

footer div {
    padding: 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/*Logo y link instagram*/
.footerLogo button {
    width: 100%;
    height: 100%;
    background-color: #c5c5c500;
    color: white;
    border: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

/*LOGO*/
.footerLogo img {
    width: 100%;
    height: 150px;
}
/*Icono seguinos*/
.footerLogo button img {
    color: black;
    width: 20px;
    height: 20px;
    margin-left: 5px;
}

/*Link "seguinos"*/
.footerLogo button a{
    text-decoration: none;
    color: black;
}

/*Columna Navegación*/
.footerNavegacion ul li a {
    color: black;
    font-size: 15px;
    font-weight: 400;
    text-decoration: none;
}

footer div ul {
    line-height: 30px;
    padding: 0px;
}

/*Columna contactos*/
.footerContactos ul li a {
    color: black;
    font-size: 15px;
    font-weight: 400;
    text-decoration: none;
}

.footerContactos ul li button {
    background-color: transparent;
    text-align: center;
    border: none;
}

footer h3 {
    padding-bottom: 5px;
    font-size: 20px;
}

/*!MEDIA QUERIES*/
@media screen and (max-width:600px) {
    footer {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
    }

    .footerNavegacion {
        margin-top: 10px;
        margin-bottom: 10px;
    }
}

/*!PSEUDO CLASES*/
.footerLogo button a:hover {
    color: #fa4d26;
}

.footerNavegacion ul li a:hover {
    color: #fa4d26;
}

.footerContactos ul li button a:hover {
    color: #fa4d26;
}




/*!--------------------------HTML NOSOTROS--------------------------------*/

/**------------------SECTION:HERO NOSOTROS------------------------*/

.heroNosotros {
    width: 100%;
    height: 100%;
    padding: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    background: hsla(16, 100%, 76%, 1);
    background: linear-gradient(90deg, hsla(16, 100%, 76%, 1) 0%, hsla(49, 100%, 81%, 1) 100%);
    background: -moz-linear-gradient(90deg, hsla(16, 100%, 76%, 1) 0%, hsla(49, 100%, 81%, 1) 100%);
    background: -webkit-linear-gradient(90deg, hsla(16, 100%, 76%, 1) 0%, hsla(49, 100%, 81%, 1) 100%);
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr="#FFA585", endColorstr="#FFEDA0", GradientType=1);
}

.heroNosotros div h1 {
    font-family: 'Mulish', sans-serif;
    font-size: 55px;
    font-weight: 900;
    color: black;
    text-transform: capitalize;
    text-align: center;
    padding-bottom: 40px;
}

.heroNosotros div {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.heroNosotros div h2 {
    width: 50%;
    text-align: center;
    font-size: 25px;
    font-weight: 400;
    color: black;
}

.nosotrosApSoluciones {
    color: white;
    font-style: inherit;
    font-size: 25px;
    font-weight: 900;
    font-style: oblique;
}


/*!MEDIA QUERIES*/
@media screen and (max-width:950px) {
    .heroNosotros div h1 {
        font-size: 35px;
        padding: 10px;
    }

    .heroNosotros div h2 {
        font-size: 25px;
        padding: 10px;
    }
}

@media screen and (max-width:450px) {
    .heroNosotros {
        padding: 10px;
    }

    .heroNosotros div h1 {
        font-size: 25px;
        padding-top: 10px;
    }

    .heroNosotros div h2 {
        font-size: 18px;
        width: 100%;
        padding-top: 20px;
    }

    .nosotrosApSoluciones {
        font-size: 15px;
    }
}


/**------------------SECTION:PRESENTACION NOSOTROS------------------------*/
.presentacionNosotros {
    width: 100%;
    height: 100%;
    background-color: white;
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    padding-top: 50px;
    margin-bottom: 30px;
}

.presentacionNosotros div {
    width: 100%;
    height: max-content;
    padding-left: 50px;
    text-align: justify;
}

.presentacionNosotros div img {
    width: 100%;
    height: 100%;
}

.p1Nosotros {
    width: 100%;
    height: 50%;
    padding: 15px;
    font-size: 22px;
    font-weight: 400;
}

.p2Nosotros {
    width: 100%;
    height: 50%;
    padding: 15px;
    font-size: 20px;
    font-weight: 300;
}

/*Boton:trabajemos juntos*/
.presentacionNosotros div button {
    width: max-content;
    font-weight: 400;
    padding: 10px 15px;
    margin: 15px;
    font-size: 14px;
    background-color: #FF6542;
    color: white;
    border: none;
    box-shadow: 10px 6px 8px -4px rgba(0, 0, 0, 0.55);
    -webkit-box-shadow: 10px 6px 8px -4px rgba(0, 0, 0, 0.55);
    -moz-box-shadow: 10px 6px 8px -4px rgba(0, 0, 0, 0.55);
}

/*!MEDIA QUERIES*/
@media screen and (max-width:850px) {
    .presentacionNosotros div img {
        display: none;
    }

    .presentacionNosotros {
        display: flex;
        flex-direction: column;
        padding: 50px;
    }
}

@media screen and (max-width:450px) {
    .presentacionNosotros {
        display: flex;
        flex-direction: column;
        padding: 5px;
    }
}


/*!PSEUDO CLASES*/
.presentacionNosotros button:active {
    color: black;
    font-weight: 600;
}

.presentacionNosotros button:hover {
    background-color: #fc7557;
}