/*RESET*/
* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
    font-family: 'Mulish', sans-serif;
}


/*----------TITULOS----------*/
h2 {
    font-family: 'Mulish', sans-serif;
    font-size: 20px;
    font-weight: 200;
    text-align: left;
}


/*TODAS LAS LISTAS Y SUS ELEMENTOS*/
ul {
    list-style-type: none;
    list-style: none;
}
a {
    text-decoration: none;
}